@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    height: 250vh;
    font-family: 'Roboto', sans-serif;
}

.navbar-color {
    background-color: #D0792B;
}

a.navbar-brand {
    color: #fff;
}

.header-content {
    background-image: url(/assets/Vector.svg);
    height: 70vh;
}


.content {
    margin-top: 5em;
}

#phone-scan {
    margin-top: 1em;
}

h1.coming-soon {
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
}

p.coming-soon {
    text-align: center;
}

img.phone1 {
    box-shadow: 5px 10px 8px #333;
}

img.phone1, img.phone-2{
    width: 50%;
}

.row-2 {
    margin-top: 17em !important;
}


[type="email"], 
[type="button"] {
    border: 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: .7rem;
    height: 35px;
    margin-top: 2em;
    font-family: inherit;
}

[type="email"] {
    width: 70%;
    padding-left: 1em;
}

[type="email"]:focus {
    outline: 0;
}

[type="button"] {
    background-color: #333;
    color: #fff;
    position: absolute;
    top: 1;
    right: 1;
}

.how-it-works {
    font-size: 1rem;
    font-weight: 500;
}

.get-familiar {
    font-size: .9rem;
}
.row-2 {
    margin-top: 10em;
}

.ul-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.ul-link li {
    list-style: none;
    width: 30%;
}

span.works {
    color: #D0792B;
}

.top-notch {
    color: #837C7C;
}

/* desktop screen size */
@media only screen and (min-width: 768px) {
    h1.coming-soon {
        font-size: 2rem;
        text-align: left;
    }
    p.coming-soon {
        text-align: left;
    }

    img.phone1 {
        width: 50%;
        margin-left: 10em;
    }

    img.phone-2 {
        width: 60%;
        margin-left: 5em;
    }

    [type="email"], 
   [type="button"] {
    font-size: 1rem;
    height: 40px;
} 

.row-2 {
    margin-top: 10em;
}

.row-3, .row-4 {
    margin-top: 5em;
}

.ul-link li {
    list-style: none;
    width: 20%;
}

.how-it-works {
    font-size: 1.7rem;
    margin-left: -2em;
}

.get-familiar {
    font-size: 1.2rem;
    margin-left: -2em;
}

.last-row {
    margin-top: 13em;
}

    

}